@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 87.499em) {
  html {
    font-size: 75%;
  }
}
@media (max-width: 74.999em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 61.999em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

.active-img {
  border: 2px solid #ff7d1a;
}

.hidden {
  display: none;
}

.mobile {
  display: none;
}
@media (max-width: 39.999em) {
  .mobile {
    display: block;
    width: 100%;
    position: relative;
  }
}

@media (max-width: 39.999em) {
  .desktop {
    display: none;
  }
}

@keyframes overlay-anim {
  0% {
    transform: translateX(-4rem);
  }
  100% {
    transform: translateX(0rem);
  }
}
header {
  width: 85%;
  margin: auto;
}

.nav {
  border-bottom: 1px solid hsl(220, 14%, 75%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
}
.nav-list {
  display: flex;
  align-items: center;
}
@media (max-width: 47.999em) {
  .nav-list {
    display: none;
  }
}
.nav li {
  list-style: none;
  font-size: 1.3rem;
}
.nav li:not(:last-child) {
  margin-right: 2rem;
}
.nav li a {
  text-decoration: none;
  color: hsl(219, 9%, 45%);
  transition: all 0.3s;
}
.nav li a:hover {
  color: #ff7d1a;
  font-weight: 600;
}
.nav__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 50%;
}
@media (max-width: 61.999em) {
  .nav__left {
    min-width: 52rem;
  }
}
@media (max-width: 47.999em) {
  .nav__left {
    min-width: 22rem;
  }
}
.nav__left--hamMenu {
  display: none;
  width: 10%;
  height: 2.05rem;
}
@media (max-width: 47.999em) {
  .nav__left--hamMenu {
    display: flex;
  }
}
@media (max-width: 47.999em) {
  .nav__left {
    flex-basis: 21%;
  }
}
.nav__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 8%;
}
@media (max-width: 61.999em) {
  .nav__right {
    min-width: 7rem;
  }
}
.nav__right .cart-div {
  position: relative;
}
.nav__right .cart-div .img-cart {
  display: block;
  cursor: pointer;
}
.nav__right .cart-div .cart-amount {
  display: none;
  background: #ff7d1a;
  color: hsl(0, 0%, 100%);
  border-radius: 50%;
  height: 1.2rem;
  width: 1.2rem;
  text-align: center;
  font-size: 0.9rem;
  padding: 0.15rem;
  position: absolute;
  right: -0.4rem;
  top: -0.4rem;
}
.nav__right .cart__dropdown {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  z-index: 3;
  top: 5rem;
  right: 4rem;
  width: 28%;
  padding: 0rem 1.5rem 1rem 1.5rem;
}
@media (max-width: 39.999em) {
  .nav__right .cart__dropdown {
    width: 90%;
    top: 9rem;
    left: 50%;
    transform: translateX(-50%);
    height: 45%;
    padding: 0rem 1.9rem 1rem 1.9rem;
  }
}
@media (max-width: 29.679em) {
  .nav__right .cart__dropdown {
    height: 38%;
  }
}
.nav__right .cart__dropdown .cart-heading {
  padding: 0.8rem;
}
@media (max-width: 39.999em) {
  .nav__right .cart__dropdown .cart-heading {
    font-size: 3rem;
  }
}
.nav__right .cart__dropdown--contents {
  border-top: 1px solid hsl(220, 14%, 75%);
  min-height: 23vh;
  position: relative;
}
@media (max-width: 39.999em) {
  .nav__right .cart__dropdown--contents {
    height: 90%;
  }
}
.nav__right .cart__dropdown--contents h3 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 44%;
  font-size: 1.2rem;
  color: hsl(220, 14%, 75%);
}
@media (max-width: 47.999em) {
  .nav__right .cart__dropdown--contents h3 {
    font-size: 1rem;
  }
}
@media (max-width: 39.999em) {
  .nav__right .cart__dropdown--contents h3 {
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 38%;
    font-size: 3rem;
    width: 70%;
  }
}
@media (max-width: 29.679em) {
  .nav__right .cart__dropdown--contents h3 {
    font-size: 2rem;
  }
}
.nav__right .cart__dropdown--contents .cart__content--flex {
  position: absolute;
  top: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
@media (max-width: 39.999em) {
  .nav__right .cart__dropdown--contents .cart__content--flex {
    width: 100%;
    top: 7%;
  }
}
.nav__right .cart__dropdown--contents .cart__content--flex .img-thumb {
  width: 20%;
  border-radius: 0.5rem;
}
.nav__right .cart__dropdown--contents .cart__content--flex .img-delete {
  cursor: pointer;
  flex-basis: 9%;
}
.nav__right .cart__dropdown--contents .cart__content--flex .content-texts p {
  color: hsl(219, 9%, 45%);
  font-weight: 600;
  font-size: 1.2rem;
}
@media (max-width: 39.999em) {
  .nav__right .cart__dropdown--contents .cart__content--flex .content-texts p {
    font-size: 2.3rem;
  }
}
@media (max-width: 29.679em) {
  .nav__right .cart__dropdown--contents .cart__content--flex .content-texts p {
    font-size: 1.9rem;
  }
}
.nav__right .cart__dropdown--contents .cart__content--flex .content-texts span {
  color: black;
  font-weight: 800;
}
.nav__right .img-avatar {
  width: 40%;
  cursor: pointer;
  border-radius: 50%;
}
.nav__right .img-avatar:hover {
  border: 2px solid #ff7d1a;
}

.amount__container--button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.amount__submit {
  background: #ff7d1a;
  color: hsl(0, 0%, 100%);
  flex-basis: 55%;
  padding: 0.7rem 0;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.5s;
}
@media (max-width: 39.999em) {
  .amount__submit {
    width: 100%;
    padding: 1.7rem 0;
  }
}
.amount__submit:hover {
  transform: scale(1.05);
}
.amount__submit .submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 70%;
  margin: auto;
}
@media (max-width: 47.999em) {
  .amount__submit .submit-btn img {
    width: 22%;
  }
  .amount__submit .submit-btn h4 {
    font-size: 0.9rem;
  }
}
@media (max-width: 39.999em) {
  .amount__submit .submit-btn img {
    width: 6%;
  }
  .amount__submit .submit-btn h4 {
    font-size: 1.3rem;
  }
}

.cart__content--button {
  background-color: #ff7d1a;
  color: hsl(0, 0%, 100%);
  border: none;
  position: absolute;
  left: 50%;
  top: 55%;
  margin-top: 1rem;
  transform: translateX(-50%);
  width: 100%;
  padding: 1.5rem 0;
  border-radius: 1rem;
  font-weight: 600;
}
@media (max-width: 39.999em) {
  .cart__content--button {
    padding: 2.5rem 0;
    top: 59%;
  }
}
@media (max-width: 29.679em) {
  .cart__content--button {
    top: 53%;
  }
}

.popup {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3000;
  transition: all 0.5s;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(20px);
}
.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.6rem;
  width: 34%;
}
.popup__content .popup__img {
  width: 100%;
  position: relative;
}
.popup__content .popup__img .svg-close {
  border: 1px solid red;
  width: 5.5%;
  height: 2.5rem;
  padding-left: 0.5rem;
  position: absolute;
  right: 0;
  top: -2.5rem;
  fill: hsl(0, 0%, 100%);
  transition: all 0.2s;
}
@media (max-width: 61.999em) {
  .popup__content .popup__img .svg-close {
    width: 7.5%;
  }
}
@media (max-width: 47.999em) {
  .popup__content .popup__img .svg-close {
    width: 8.5%;
  }
}
@media (max-width: 39.999em) {
  .popup__content .popup__img .svg-close {
    width: 10%;
  }
}
.popup__content .popup__img .svg-close:hover {
  fill: #ff7d1a;
}
.popup__content .popup__img img {
  width: 100%;
  display: block;
  border-radius: 0.7rem;
}
.popup__content .popup__img .prevs-div {
  background-color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -1.4rem;
}
.popup__content .popup__img .prevs-div .arrow-left {
  width: 35%;
  height: 70%;
  fill: white;
  stroke: black;
  transition: all 0.2s;
  top: 57%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 44%;
}
.popup__content .popup__img .prevs-div .arrow-left:hover {
  stroke: #ff7d1a;
}
.popup__content .popup__img .next-div {
  background-color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -1.4rem;
}
.popup__content .popup__img .next-div .arrow-right {
  width: 35%;
  height: 70%;
  fill: white;
  stroke: black;
  transition: all 0.2s;
  top: 57%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
}
.popup__content .popup__img .next-div .arrow-right:hover {
  stroke: #ff7d1a;
}
.popup__content .popup__img-gallery {
  width: 90%;
  margin: 2rem auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popup__content .popup__img-gallery img {
  width: 20%;
  border-radius: 0.7rem;
}

.overlay {
  display: none;
}
@media (max-width: 47.999em) {
  .overlay {
    z-index: 10;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(20px);
  }
}
.overlay__content {
  z-index: 100;
  padding: 4rem;
  background: hsl(0, 0%, 100%);
  position: absolute;
  height: 100vh;
  width: 66vw;
  animation: overlay-anim 0.5s ease-in;
}
.overlay__content--close {
  width: 2rem;
  height: 2rem;
  fill: hsl(219, 9%, 45%);
}
.overlay__content--close:hover {
  fill: #ff7d1a;
}
.overlay__content--nav-list2 {
  list-style: none;
  margin-top: 10rem;
}
.overlay__content--nav-list2 li:not(:last-child) {
  margin-bottom: 3rem;
}
.overlay__content--nav-list2 .nav-link {
  color: black;
  text-decoration: none;
  font-weight: 900;
  font-size: 3.5rem;
  transition: all 0.3s;
}
.overlay__content--nav-list2 .nav-link:hover {
  color: #ff7d1a;
}

.mobile__gallery {
  position: relative;
  background-image: url(/images/image-product-1.jpg);
  z-index: -100;
  height: 53rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.mobile__gallery--prevs-div {
  display: none;
  background-color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 4.5rem;
}
@media (max-width: 39.999em) {
  .mobile__gallery--prevs-div {
    display: block;
  }
}
.mobile__gallery--prevs-div .arrow-left {
  fill: white;
  stroke: black;
  transition: all 0.2s;
  position: absolute;
  top: 1rem;
  width: 2.2rem;
  height: 2.5rem;
  left: 1.2rem;
}
.mobile__gallery--next-div {
  display: none;
  background-color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 4.5rem;
}
@media (max-width: 39.999em) {
  .mobile__gallery--next-div {
    display: block;
  }
}
.mobile__gallery--next-div .arrow-right {
  fill: white;
  stroke: black;
  transition: all 0.2s;
  position: absolute;
  top: 1rem;
  width: 2.2rem;
  height: 2.5rem;
  left: 1.5rem;
}

.attribution {
  width: 70%;
  margin: auto;
  text-align: center;
  margin-top: 3.5rem;
  color: hsl(219, 9%, 45%);
}
.attribution a {
  color: #ff7d1a;
  text-decoration: none;
}

main {
  width: 85%;
  margin: auto;
}
@media (max-width: 39.999em) {
  main {
    padding: 3rem 0;
    width: 100%;
  }
}

.main__content {
  width: 85%;
  margin: auto;
  margin-top: 3rem;
  padding: 0 2rem;
}
@media (max-width: 39.999em) {
  .main__content {
    margin-top: 0;
    padding: 0;
    width: 100%;
  }
}
.main__content--flex {
  display: flex;
  align-items: center;
  gap: 7rem;
}
@media (max-width: 39.999em) {
  .main__content--flex {
    flex-direction: column;
    gap: 3rem;
    width: 100%;
  }
}
.main__content--flex--left {
  flex-basis: 40%;
  border-radius: 0.7rem;
}
.main__content--flex--left .main__content--img img {
  width: 100%;
  display: block;
  border-radius: 0.7rem;
}
.main__content--flex--left .main__content--img-gallery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}
@media (max-width: 39.999em) {
  .main__content--flex--left .main__content--img-gallery {
    display: none;
  }
}
.main__content--flex--left .main__content--img-gallery img {
  border-radius: 0.5rem;
  width: 20%;
  display: block;
}
.main__content--flex--right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-basis: 40%;
}
@media (max-width: 39.999em) {
  .main__content--flex--right {
    width: 90%;
    margin: auto;
    gap: 2rem;
  }
}
.main__content--flex--right h2 {
  color: #ff7d1a;
  font-weight: 900;
  font-size: 0.9rem;
}
@media (max-width: 39.999em) {
  .main__content--flex--right h2 {
    font-size: 1.2rem;
    letter-spacing: 1.3px;
  }
}
.main__content--flex--right > h3 {
  font-size: 3rem;
}
@media (max-width: 47.999em) {
  .main__content--flex--right > h3 {
    font-size: 2.4rem;
  }
}
@media (max-width: 39.999em) {
  .main__content--flex--right > h3 {
    font-size: 5rem;
    line-height: 1;
  }
}
.main__content--flex--right p {
  color: hsl(219, 9%, 45%);
  font-size: 1.5rem;
}
@media (max-width: 47.999em) {
  .main__content--flex--right p {
    font-size: 1.2rem;
  }
}
@media (max-width: 39.999em) {
  .main__content--flex--right p {
    font-size: 2.5rem;
    word-spacing: 0.2px;
    line-height: 1.2;
  }
}
.main__content--flex--right .main__content--pricing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}
.main__content--flex--right .main__content--pricing h3 {
  font-size: 3rem;
}
@media (max-width: 61.999em) {
  .main__content--flex--right .main__content--pricing {
    min-width: 18.6rem;
  }
}
@media (max-width: 39.999em) {
  .main__content--flex--right .main__content--pricing {
    width: 100%;
  }
}
.main__content--flex--right .main__content--pricing div {
  background: hsl(25, 100%, 94%);
  color: #ff7d1a;
  padding: 0.2rem 0.6rem;
  font-weight: 900;
  border-radius: 0.5rem;
  font-size: 1.6rem;
}
.main__content--flex--right .main__content--pricing #hidden-price {
  text-decoration: line-through;
  font-weight: 550;
  font-size: 2rem;
  display: none;
}
@media (max-width: 39.999em) {
  .main__content--flex--right .main__content--pricing #hidden-price {
    display: block;
  }
}
.main__content--flex--right .main__content--pricing ~ p {
  text-decoration: line-through;
}
@media (max-width: 39.999em) {
  .main__content--flex--right .main__content--pricing ~ p {
    display: none;
  }
}
.main__content--flex--right .main__content--amount-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 39.999em) {
  .main__content--flex--right .main__content--amount-flex {
    flex-direction: column;
    gap: 1.5rem;
  }
}
.main__content--flex--right .main__content--amount-flex .amount__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: hsl(220, 14%, 75%);
  flex-basis: 40%;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.main__content--flex--right .main__content--amount-flex .amount__container--button {
  background: hsl(220, 14%, 75%);
  border: none;
}
@media (max-width: 39.999em) {
  .main__content--flex--right .main__content--amount-flex .amount__container {
    width: 100%;
    padding: 2.2rem 1rem;
  }
  .main__content--flex--right .main__content--amount-flex .amount__container h4 {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=main.css.map */
