@use '../abstracts/' as *;

.mobile__gallery{
    position: relative;
    background-image: url(/images/image-product-1.jpg);
    width: 63rem;
    height: 55rem;   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid red;

    &--prevs-div{
        @include arrow-divs;
        left: 1.5rem;
        
        .arrow-left{
            @include arrow-icons2;
            left: 1.2rem;
        }
    }

    &--next-div{
        @include arrow-divs;
        right: 1.5rem;

        .arrow-right{
            @include arrow-icons2;
            left: 1.5rem;
        }

    }

}